*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
}
::-webkit-scrollbar{
    appearance: none;
    width: 5px;
    background-color: #1d053d;
}
::-webkit-scrollbar-thumb{
    appearance: none;
    background: white;
    border-radius: 5px;
}
body{
    background-image: url(cs_wp.jpg);
    height: 1200px;
    width: 5000px;
    background-size: cover;
    animation: slide 4s linear infinite;
    position: relative;
}
@keyframes slide {
    0% {
        background-position: 0;
      }
      100% {
        background-position: 0 -5000px;
      }
}
header{
    position: relative;
}
header > img{
    position: fixed;
    width: 75px;
    height: 75px;
    top: 10px;
    left: 10px;
}
header > .text_pic{
    color: white;
    text-align: center;
    margin-top: 100px;
}
.text_pic > h1{
    font-size: 150px;
}
header > .up_menu{
    display: flex;
    justify-content: center;
}
header > .up_menu > .button_menu{
    padding: 20px 40px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;
    position: relative;
    color: #7f51fd;
    text-decoration: none;
}
header > #burger_menu, header > .menu_burger_btn{
    visibility: hidden;
    position: absolute;
}
.menu_burger_btn{
    cursor: pointer;
    display: flex;
    align-items: flex;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    color: white;
}
#burger_menu:checked ~ .menu_burger_btn{
    z-index: 2;
    background-image: url("not_work_menu.png");
}
#burger_menu:checked ~ .up_menu{
    visibility: visible;
    text-align: center;
    background-color: white;
    flex-direction: column;
}
#burger_menu:checked ~ #site_logo{
    visibility: hidden;
}
/*First button*/
.button_menu .button_l{
    position: absolute;
    display: block;
}
.button_menu1 > .button_lt{
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #7f51fd);
}
.button_menu1 > .button_lb{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #7f51fd);
}
.button_menu1 > .button_lr{
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #7f51fd);
}
.button_menu1 > .button_ll{
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #7f51fd);
}
.button_menu1:hover .button_lt{
    transform: translateX(100%);
    transition: 1s;
    transition-delay: 0.2s;
}
.button_menu1:hover .button_lb{
    transform: translateX(-100%);
    transition: 1s;
    transition-delay: 0.2s;
}
.button_menu1:hover .button_lr{
    transform: translateY(100%);
    transition: 1s;
}
.button_menu1:hover .button_ll{
    transform: translateY(-100%);
    transition: 1s;
}
/*Second button*/
.button_menu2 {
    z-index: 1;
  }
  .button_menu2:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
     background: white;
    transition: all 0.3s ease;
  }
  .button_menu2:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
/*third button*/
.button_menu3 {
    background: transparent;
   z-index: 1;
   transition: all 0.3s linear;
 }
 .button_menu3:before,
 .button_menu3:after {
   position: absolute;
   content: "";
   left: 0;
   width: 100%;
   height: 50%;
   right: 0;
   z-index: -1;
   transition: all 0.3s ease;
 }
 .button_menu3:before {
   top: 0;
 }
 .button_menu3:after {
   bottom: 0;
 }
 .button_menu3:hover:before,
 .button_menu3:hover:after {
   height: 0;
   background-color: white;
 }
 /*Foir button*/
 .button_menu4 {
   z-index: 1;
 }
 .button_menu4:after {
   position: absolute;
   content: "";
   width: 100%;
   height: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
    background: white;
   transition: all 0.3s ease;
 }
 .button_menu4:hover:after {
   top: 0;
   height: 100%;
 }
header > .up_menu > .button_menu:hover{
    box-shadow: 0 0 80px #7f51fd;
    background-color: white;
    color: #7f51fd;;
    transition: 1s;
}
header > .info_ab_name{
    color: white;
    text-align: center;
    margin-top: 100px;
}
header .notification{
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}
.notification_icon::before{
    position: absolute;
    right: 0; 
    top: 0;
    content: "";
    width:10px;
    height:10px;
    border-radius: 5px;
    background-color: #ea0b82;
}
.notification_menu{
    display: none;
}
.notification_icon:hover{
    background-color: white;
    border-radius: 10px;
}
.notification:hover .notification_menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.notification_menu a{
    text-decoration: none;
    color: #7f51fd;
}
.notification_icon:hover img{
    margin-right: 100px;
    transition: all .5s ease;
}
.notification:hover{
    z-index: 1;
}
.notification:hover .notification_menu a:hover{
    margin: 10px 0;
    transform: scale(2);
    transition: all .3s ease;
    border-radius: 5px;
    background-color: #ea0b82;
}
.notification:hover .notification_icon::before{
    background-color: #1d053d;
}
main{
    position: relative;
    margin-top: 100px;
}
.mini_menu{
    display: flex;
    justify-content: space-around;
}
.aside_menu{
    margin-left: 96px;
}
.aside_menu, .mini_menu > section{
    text-align: center;
    height: 200px;
    width: 250px;
    background: white;
    border-radius: 10px;
}
.aside_menu > a:active{
    background-color: #7f51fd;
}
li{    
    list-style: none;
}
.last_news{
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.last_news > .last_news_menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    color: black;
}
.last_news_menu > .news_art{
    text-align: center;
    border: 2px solid silver;
}
.mini_menu_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.mini_menu_content > .horizontal_mini_menu{
    display: flex;
    justify-content: space-around;
}
.mini_menu_content > .vertical_mini_menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mini_menu_content > .horizontal_mini_menu > p, .mini_menu_content > .vertical_mini_menu > ol > li{
    background-color: white;
    height: 150px;
    width:150px;
    text-align: center;
    border-radius: 10px;
}
.mini_menu_content > .horizontal_mini_menu > p{
    margin: 0 20px;
}
.mini_menu_content > .horizontal_mini_menu > p:hover{
    background-color:transparent;
    border: 2px outset solid silver;
    box-shadow: 0 0 20px #7f51fd, 0 0 40px #7f51fd, 0 0 80px #7f51fd;
}
.mini_menu_content > .vertical_mini_menu > ol > li{
    margin: 20px 0;
}
.social_media_icons{
    display: flex;
    top: 0;
    position: sticky;
    justify-content: flex-end;
    float: right;
}
header > .text_shapes_for_little_screen{
    visibility: hidden;
}
.Forms{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
input[type = "text"], input[type = "tel"], input[type = "email"], input[type = "password"]{
    background-color: #7f51fd;
}
textarea{
    background-color:#1d053d;
}
textarea:focus{
    border: #1d053d 2px solid;
    background-color: aliceblue;
}
input[type = "text"]:focus, input[type = "tel"]:focus, input[type = "email"]:focus, input[type = "password"]:focus{
    border: #1d053d 2px solid;
    background-color: aliceblue;
}
input[type = "tel"]::placeholder, input[type = "text"]::placeholder, input[type = "email"]::placeholder, input[type = "password"]::placeholder, textarea{
    color: white;
    letter-spacing: 0.25em;
}
input[type = "submit"]:focus{
    background-color: black;
}
fieldset > legend:hover{
    color: aliceblue;
}
fieldset:hover{
    border-color: black;
}
fieldset > label:hover{
    color: #7f51fd;
}
.FirstForm {
    width: 40%;
}
.FirstFormFInput, .FirstFormBottom{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.SecondForm{
    width: 40%;
}
.SecondForm > form, .FirstForm > form{
    display: flex;
    flex-direction: column;
}
.SecondFormBottom{
    display: flex;
    flex-direction: column;
    width: 80%;
}
footer{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    bottom:0;
}
footer > .footer_info > .diff_info{
    display: flex;
    justify-content: center;
}
footer > .FooterVideo{
  margin: auto;
  width: 100%;
  text-align: center;
}
.FooterVideo > iframe{
    position: relative;
    margin-top: 50px;
}
.iframe-item-hover{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 50%;
    height: 100%;
    background-color: white;
    color: #1d053d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    opacity: 1;
    transition: opacity .4s ease-out;
    z-index: 2;
}
.FooterVideo .iframe-item-hover .footer_name_yes_hover{
    display: none;
}
.FooterVideo:hover .iframe-item-hover .footer_name_no_hover{
    display: none;
}
.FooterVideo:hover .iframe-item-hover .footer_name_yes_hover{
    display: inline;
}
.FooterVideo:hover .iframe-item-hover{
    width: 10%;
    height: 50%;
    margin-left: 30%;
    transition: margin-left .3s ease;
}
section.gallery{
    position: relative;
    padding: 45px 0;
  }
  h2.title{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
    position: relative;
  }
  .gallery-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    font-size: 0;
    margin-top: 30px;
  }
  .gallery-item{
    display: block;
    flex: 10%;
    overflow: hidden;
    position: relative;
  }
  .gallery-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 50, 143, 0.7);
    color: #1d053d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0;
    transition: opacity .4s ease-out;
    z-index: 2;
  }
  .gallery-item:hover .gallery-item-hover{
    opacity: 1;
  }
  .gallery-item:hover img{
    transform: scale(2);
  }
  .gallery-item img{
    transition: all .5s ease-in-out;
  }
  @media (max-width: 991px){
    .gallery-item{
      flex: 33.3%;
    }
  }
  @media (max-width: 768px){
    .gallery-item{
      flex: 50%;
    }
  }
  @media (max-width: 530px){
    .gallery-item{
      flex: 100%;
    }
  }
@media (max-width: 1200px){
    .up_menu{
        visibility: hidden;
    }
    .button_menu1 > .button_lt{
        background: linear-gradient(90deg, transparent, #ea0b82);
    }
    .button_menu1 > .button_lb{
        background: linear-gradient(270deg, transparent, #ea0b82);
    }
    .button_menu1 > .button_lr{
        background: linear-gradient(180deg, transparent, #ea0b82);
    }
    .button_menu1 > .button_ll{
        background: linear-gradient(0deg, transparent, #ea0b82);
    }
    .button_menu2:after {
        background-color: #ea0b82;  
      }
     .button_menu3:hover:before,
     .button_menu3:hover:after {
        background-color: #ea0b82;
     }
     .button_menu4:after {
        background-color: #ea0b82;
     }
    header > .menu_burger_btn{
        visibility: visible;
    }
    .text_pic > h1{
        font-size: 50px;
    }
    header > .info_ab_name{
        margin-top: 20px;
        font-size: 10px;
    }
    .social_media_icons{
        display: none;
    }
    header > .text_shapes_for_little_screen{
        visibility: visible;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
    .notification_icon{
        display: none;
    }
    .text_shapes_for_little_screen > a{
        color: white;
        text-decoration: none;
    }
    .text_shapes_for_little_screen > a:hover{
        color:#7f51fd;
    }
    .text_shapes_for_little_screen > p{
        font-size: 40px;
    }
    main{
        margin-top: 100px;
    }
    .mini_menu{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .aside_menu{
        margin: 0;
    }
    .aside_menu, .mini_menu > section{
        height: 150px;
        width: 200px;
        font-size: 10px;
    }
    .mini_menu_content{
        flex-wrap: wrap;
    }
    .vertical_mini_menu{
        align-items: center;
    }
    .Forms{
        margin-top: 10%;
        flex-direction: column;
        gap: 40px;
    }
    .FirstForm, .SecondForm{
        width: 100%;
    }
    iframe{
        width: 40%;
        height: 40%;
    }
}